.rsc {
  display: flex;
  align-items: center;
}

.rsc-container {
  margin: 0 auto;
}

.App {
  height: 100vh;
  display: grid;
}

body {
  background: url('./assets/background.jpg');
  background-size: cover;
}

.rsc-os-option button {
  outline: none;
}

.rsc-os-option button:hover {
  cursor: pointer !important;
}

.quoteFinalVal {
  border-top: thin solid #dadada;
  padding-top: 10px;
}